.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  color: #fff;
  z-index: 2000;
}

.loading .spinner {
  width: 60px;
  height: 60px;
  animation: rotate 1.7s linear infinite;
}

.loading .spinner .path {
  stroke: #464646;
  stroke-linecap: round;
  animation: dash 1.2s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
